<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICityService" />
                <binding name="WSHttpBinding_IWeatherService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Services/CityService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICityService"
                contract="CityService.ICityService" name="WSHttpBinding_ICityService">
            </endpoint>
            <endpoint address="http://localhost:8888/Services/WeatherService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWeatherService"
                contract="WeatherService.IWeatherService" name="WSHttpBinding_IWeatherService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>